<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>School Schedules</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    Welcome to School Schedules! Click the Excel link to download the form.
    Once open, move the x's in the "Availabilities" sheet to the times each
    of your students are available as well as when you would like to have
    planning period and lunch. Then on the "Requirements" sheet, specify
    how many periods you must meet with each student, plan, or eat. Once you
    are finished, save the excel form. Select it to upload via the "Choose File"
    button below. Once you choose it, you can hit "Upload" to send it to
    the scheduler. The scheduler will automatically have your computer download
    the solution when it is done. Open the returned excel file to the "Solution"
    sheet to find your schedule solved!
    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>
